html {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #FFE3F2;
}

body {
	padding: 0;
	margin: 0;
}

h1 {
	background-color: pink;
	text-align: center;
	padding: 15px;
	font-size: 60px;
	margin: 0px;
	animation: fadeIn 2s;
}

h2 {
	background-color: pink;
	text-align: center;
	padding-bottom: 15px;
	font-size: 30px;
	margin: 0px;
	animation: fadeIn 2s;
}

h3 {
	font-size: 25px;
	color: #FF75BC;
	animation: fadeIn 2s;
}

h4 {
	font-size: 18px;
	animation: fadeIn 2s;
}

a {
	text-decoration:none ;
	color: black;
	animation: fadeIn 2s;
}

.menu {
	text-align: center;
	animation: fadeIn 2s;
}

.menu-element {
	font-size: 25px;
	background-color: pink;
	margin: 10px;
	animation: fadeIn 2s;
}

.menu-element:hover {
	background-color: #FF75BC;
	cursor: pointer;
	animation: fadeIn 2s;
}

.main-pic {
	text-align: center;
	margin-top: 25px;
	border-radius: 50%;
	animation: fadeIn 2s;
}

.main-picture {
	border-radius: 10%;
	animation: fadeIn 2s;
}

.info {
	display: flex;
	padding: 15px;
	justify-content: center;
	gap: 20px;
	animation: fadeIn 2s;
}

.vet {
	text-align: center;
	display: flex;
	flex-direction: column;
	animation: fadeIn 2s;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	animation: fadeIn 2s;

}

th {
	background-color: pink;
	animation: fadeIn 2s;

}

table {
	margin-left: 500px;
	margin-right: 500px;
	animation: fadeIn 2s;

}

.photos {
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: fadeIn 2s;

}

.photos-area {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 10px;
	animation: fadeIn 2s;
}

.single-photo {
	text-align: center;
	margin: 10px;
	background-color: pink;
	animation: fadeIn 2s;
}

img {
	border: 1px solid black;
	animation: fadeIn 2s;
}

@media all and (max-width: 800px) {
  	.info {
		flex-direction: column;
		align-items: center;
	}

	table {
		margin: 0;
	}

	.photos-area {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin: 0px;
	}
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  