html {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #FFE3F2;

}

h1 {
	background-color: pink;
	text-align: center;
	padding: 15px;
	font-size: 60px;
	margin: 0px
}

h2 {
	background-color: pink;
	text-align: center;
	padding-bottom: 15px;
	font-size: 30px;
	margin: 0px
}

h3 {
	font-size: 20px;
	color: #FF75BC;
}

h4 {
	font-size: 18px;
}

a {
	text-decoration:none ;
	color: black;
}

.menu {
	text-align: center;
}

.menu-element {
	font-size: 25px;
	background-color: pink;
	margin: 10px;
}

.menu-element:hover {
	background-color: #FF75BC;
	cursor: pointer;
}

.main-pic {
	text-align: center;
	margin-top: 25px;
}

.info {
	display: flex;
	padding: 15px;
	justify-content: center;
	gap: 20px;
}

.vet {
	text-align: center;
	display: flex;
	flex-direction: column;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;

}

th {
	background-color: pink;

}

table {
	margin-left: 60px;
	margin-right: 60px;

}

.photos {
	display: flex;
	flex-direction: column;
	align-items: center;

}

img {
	border: 1px solid black;
}

@media all and (max-width: 800px) {
  .info {
flex-direction: column;
	align-items: center;
  }
}